.login_wrapper_top{
    padding: 60px 30px 40px 30px;
text-align: center;
background-color: #3D2BFB;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border-radius: 10px;
position: relative;
z-index: 1;
}
.login_wrapper_body {
    padding: 60px 40px 40px 40px;
}
.login_wrapper {
    background-color: #1E157D;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.login-area {
    position: relative;
}
.text-white {
    --bs-text-opacity: 1;
    color: #FFFFFF !important;
}
.login-form .form-control {
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 16px;
    padding: 20px;
    border-radius:10px;
}
.title{
    line-height:1.4;
}
.login-main {
    padding: 100px 0;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #3d2bfb;
}
.sidebar {
    width: 250px;
    background: #ffffff;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid #66666675;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.navbar-left {
    position: relative;
    background: #ffffff;
    background-color: rgb(255, 255, 255);
    padding: 15px 30px;
    margin-left: 250px;
    border-bottom: 1px solid #dee4ec;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    transition: all 0.5s cubic-bezier(0.4, -0.25, 0.25, 1.1);
}
.bg--dark {
    background-color: #071251 !important;
}
.search-list {
    position: absolute;
    top: 100%;
    background-color: #fff;
    width: 100%;
    z-index: 99;
    max-height: 310px;
    overflow: auto;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.navbar-sraech {
    position: relative;
    width: 300px;
}
.txt-color {
    color: #e0e0e0;
}
.body-wrapper {
    margin-left: 210px;
    padding: 30px;
    transition: all 0.5s cubic-bezier(0.4, -0.25, 0.25, 1.1);
}
.bg-white {
    background-color: #ffffff !important;
}

